---
import iPhoneImage from "../../assets/iPhone.webp";
---

<section
  class="flex flex-col sm:flex-row justify-around items-center bg-customGreen py-6 ssm:h-[30rem] sm:h-[25rem] sm:px-[3rem] overflow-hidden"
>
  <div class="flex flex-col items-center justify-between md:items-start mb-10">
    <h2
      class="text-white ssm:text-[2.2rem] md:text-[3rem] md:text-start md:leading-[4rem] font-semibold text-center"
    >
      MULTI<br />PLATAFORMA
    </h2>
    <p
      class="text-white text-center text-[1.1rem] md:text-start md:text-[1.7rem]"
    >
      lleva cosmos a cualquier lugar para mantenerte seguro
    </p>
    <button
      class="border-2 border-white ssm:text-[1.2rem] md:text-[1.4rem] px-5 py-3 text-white mt-6 hover:bg-white hover:text-customGreen"
      >ver plataformas</button
    >
  </div>
  <figure
    class="w-[13rem] sm:w-[16rem] sm:rotate-12 sm:mt-[10rem] md:mt-[15rem] right-0"
  >
    <img class="w-full h-full" src="/iPhone.webp" alt="cosmos-mobile" />
  </figure>
</section>
