---
import Layout from '../layouts/Layout.astro';---

<Layout title="Welcome to Astro.">
	<main>
		este es el main
	</main>
</Layout>

<style is:global>
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
</style>
