---

---

<section class="my-5 border-2 border-customGreen py-9 md:my-9 justify-center">
  <div class="text-center">
    <label class="text-[1.8rem] font-semibold text-customGrayLight"
      >Estadisticas de <span class="text-customGreen">cosmos</span> 2024</label
    >
  </div>
  <section class="flex ssm:flex-col sm:flex-row sm:space-y-0 sm:justify-around items-center text-center ssm:space-y-7 mt-4 md:mt-7">
    <article class="leading-7">
      <p class="text-customGreenDark font-bold text-[2rem] md:text-[2.6rem]">+400 Millones</p>
      <span class="text-[1.2rem] text-customGrayLight">de ataques detenidos</span>
    </article>
    <article class="leading-7">
      <p class="text-customGreenDark font-bold text-[2rem] md:text-[2.6rem]">+70 Millones</p>
      <span class="text-[1.2rem] text-customGrayLight">usuarios por el mundo</span>
    </article>
    <article class="leading-7">
      <p class="text-customGreenDark font-bold text-[2rem] md:text-[2.6rem]">+200 Millones</p>
      <span class="text-[1.2rem] text-customGrayLight">de tokens respondidos</span>
    </article>
  </section>
</section>
