---
// aqui va el javascript
---

<div class="flex items-center">
  <h2 class="text-customGreen text-[1.8rem] font-semibold mx-2">cosmos</h2>
  <span class="text-customGray font-thin block text-[1.8rem]">secure</span>
</div>
