---
import ButtonDownload from "../common/ButtonDownload.astro";
---

<section class="flex sm:justify-evenly sm:mx-5 md:mx-[2rem] lg:mt-10 mb-10">
  <div
    class="flex flex-col justify-center items-center ssm:items-center md:items-start ssm:w-full md:w-[40%]"
  >
    <h2 class="text-[3.3rem] font-semibold text-customGreen text-center">
      cosmos
    </h2>
    <span
      class="inline-block ssm:text-center md:text-left text-[1.2rem] lg:text-[1.7rem] font-normal"
      ><strong class="text-customGreen">navega</strong> y vive <strong
        class="text-customGreen"
        >seguro
      </strong>con el antivirus más <strong class="text-customGreen"
        >ligero</strong
      >y <strong class="text-customGreen">eficiente</strong> del mundo
    </span>
    <ButtonDownload />
  </div>
  <div class="ssm:hidden md:block sm:max-w-[60%] lg:max-w-[50%] text-center">
    <figure class="">
      <img
        class="w-full h-full"
        src="/InterfaceCosmos.webp"
        alt="Antivirus"
      />
    </figure>
    <p class="text-customGrayLight font-normal text-[1.2rem]">
      disponible para <span class="text-customGreen">Windows, </span>
      <span class="text-customGreen">Mac, </span>
      <span class="text-customGreen">Linux, </span>
      <span class="text-customGreen">ISO</span>
    </p>
  </div>
</section>
